
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>

      <p>
        <strong>Password:</strong>
        <%= @user.password %>
      </p>
      
<%= link_to 'User Search', usersearch_path %> <p>
<%= link_to 'List of all SentenceZing members', users_path %> 

<br/>