<!DOCTYPE html>
<hmtl>
<head>
  <title>SentenceZing | <%= yield(:title)  %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!------------------------------------------ Main Div -------------------------------------------------------->
<div id="wrapper">

	<!---------------------------------------- Banner Div -------------------------------------------------------->
	<div id="banner">
    	<h1> SentenceZing </h1>
	</div> 
    <!----------------------------------------- End Banner Div -------------------------------------------------->
    
    
    <!------------------------------------- Main menu bar div --------------------------------------->
    <div id="nav">
      <ul>
		<li> <%= link_to "Home", static_pages_home_path %> </li>
		<li> <%= link_to "Account", users_show_path %></li>
		<li> <%= link_to "About Us", static_pages_about_path %> </li>
		<li> <%= link_to "Voting", stories_show_path  %> </li>
		<li> <%= link_to "Contact Us", static_pages_contactus_path %> </li>
	  </ul>

    </div>
    <!---------------------------------------- End Menu bar div ------------------------------------->
	
    
    <!------------------------------------ Main content/body div ---------------------------------------->
    <div id="content">

    <%= yield %>
    
    </div> 
    <!------------------------------- End Main content/body div ---------------------------------------->
    
    
    <!--------------------------------------- Footer div ------------------------------------------------->
    <div id="footer">
    <p>footer info</p>
    </div>  
    <!------------------------------------- End Footer div ---------------------------------------------->
   	
</div>  
<!---------------------------------------------- End Main div -------------------------------------------------->
    
</body>
</html>
